<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wedding Guest <Link:favicon></Link:favicon></title>
  </head>
  <body>
    <h1>Wedding Guest Tracker</h1>
    <nav>
      <a href="/guestlist/addAddress">Add Guest Address</a>
      <br/>
      <br/>
      <a href="/guestlist/addGuest">Add Guest Name</a>
      <br/>
      <br/>
      <a href="/guestlist/displayList"> Guest List</a>
    </nav>
  </body>
</html>

