<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wedding Guest <Link:favicon></Link:favicon></title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <body id="home">
    <h1>Abbi's Wedding Guest Planner</h1>
    <h2>The big day is September 4, 2021</h2>
    <nav>
      <a href="/guestlist/addAddress">Add Guest Address</a>
      <br/>
      <br/>
      <a href="/guestlist/addGuest">Add Guest Name</a>
      <br/>
      <br/>
      <a href="/guestlist/displayList"> Guest List</a>
      <br/>
      <br/>
      <img id="heart" src="https://cdn.pixabay.com/photo/2014/11/13/17/04/heart-529607_1280.jpg" />
    </nav>
  </body>
</html>

