<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guest List</title>
  </head>
  <body>
      <h1>Guest List</h1>
      <% for(let i = 0; i < guests.length; i++) { %>
        <li>
          <a href="/<%= guests[i].lastName %>"><%= guests[i].lastName %></a>

        </li>

        <% } %>

      <br/>
      <a href="/">Return Home</a>
      <br/>
    </nav>
  </body>
</html>
