<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <h1>Enter Guest Information</h1>

    <form action="/guestlist/newguest" method="POST">
      First Name1: <input type="text" name="firstName1" /><br />
      <br />
      First Name2: <input type="text" name="firstName2" /><br />
      <br />
      Last Name: <input type="text" name="lastName" /><br />
      <br />
      <br />
      Address:
      <select name="guestId">
        <% for(let i = 0; i < mailAddress.length; i++) { let selected = ( i == 0
        ) ? "selected" : ""; %>
        <option value='<%= mailAddress[i].id %>' selected><%=mailAddress[i].address%></option>
        <% } %>
      </select>
      <br />
      <br />
      <input type="submit" value="Add Guest" />
    </form>
  </body>
</html>