<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile Page</title>
  </head>

  <body>
    <h1>Guest Profile Page</h1>
    

    <form action="/guestlist" method="POST"> -->
      First Name1: <input type="text" name="name" value="<%=firstName1%>" /><br /> 
      <br />
      First Name2: <input type="text" name="name" value="<%=user.firstName2%>" /><br />
      <br />
      Last Name: <input type="text" name="name" value="<%=user.lastName2%>" /><br />
      <br />
      Street Address: <input type="text" name="address" /><br />
      <br />
      City: <input type="text" name="city" /><br />
      <br />
      State: <input type="text" name="state" /><br />
      <br />
      Zip: <input type="text" name="zip" /><br />
      <br />
      Wedding invite sent: 
      <br />
      RSVP Received: 
      <br />
      Number of guests:
      <br />
      Wedding gift:
      <br />
      Wedding gift Thank You sent:
      <br />
      Shower gift:
      <br />
      Shower gift Thank You sent:
      <br />
      <input type="submit" value="Update Guest" />
      <br />
      </form>
    </form>

    <br /><br />
    <a href="/">Back to Homepage</a>
  </body>
</html>