<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project 2 Homepage</title>
  </head>
  <body>
    <h1>Wedding Invitation and Guest List</h1>
    <nav>
      <a href="/auth/signup">Add Guest</a>
      <br/>
      <br/>
      <a href="/auth/login">Update Guest</a>
      <br/>
      <br/>
      <a href="/auth/logout">Delete Guest</a>
      <br/>
      <br/>
      <br/>
      <a href="auth/logout">View Guest List</a>
    </nav>
  </body>
</html>
